<h2 class="center">Register to pay your rent online</h2>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
    <p>Only register if you are tenant in one of Highbrook's poperties and you would like the option of paying your rent online with a debit or credit card.</p>
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
		  <div class="form-group">
		  	<%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Enter name" %>
      </div>
      <div class="form-group">
			  <%= f.label :email %>
			  <%= f.email_field :email, class: 'form-control', placeholder: "Enter email" %>
			</div>
		  <div class="form-group">
		  	<%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
		    <%= f.password_field :password, class: 'form-control', placeholder: "Enter password", autocomplete: "off" %>
		  </div>
		  <div class="form-group">
		  	<%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter password confirmation", autocomplete: "off" %>
		  </div>
		  <div class="form-group">
		  	<%= f.submit "Click to Register", class: 'btn btn-success' %>
		  </div>
		  <div class="form-group">
		  	<%= render "devise/shared/links" %>
		  </div>
		<% end %>
	</div>
</div>
