<div class="row">
	<div class="col-sm-3" id="howto">
		<h4><u>How To Use This Page</u></h4>
		<ol>
			<li>Create all properties</li>
			<li>Invite tenants to register</li>
			<li>Create units for each property (a tenant is requried)</li>
				<ul>
					<li>It is recommended to use the property name in the unit name</li>
					<li>For example,</li>
					<li>Property Name = "Lake View"</li>
					<li>Unit Name = "Lake View - Unit 1"</li>
				</ul>
			<li>Create the Rent Tracking Table (update as required)</li>
			<li>Assign utility payments, if needed</li>
			<li>Input payments made with cash or check to keep list current</li>
		</ol>
	</div>
	<div class="col-sm-6">
		<h1>Admin Control Panel</h1>
		<h2>Manage Properties</h2>
		<h3>Current Properties</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>ID</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<% @properties.each do |property| %>
					<tr>
						<td><%= property.name %></td>
						<td><%= property.address %></td>
						<td><%= property.id %></td>
						<td><b><%= link_to 'Edit', edit_property_path(property)%></b></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="center">
			<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#addProperty">Add A Property
			</button>
		</div><br />
		<div class="col-sm-6 col-sm-offset-3">
			<div class="collapse" id="addProperty">
				<%=  render "properties/form" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<h2>Manage Units</h2>
	<h3>Current Units</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Property</th>
					<th>Description</th>
					<th>Rent Charge</th>
					<th>Security Charge</th>
					<th>Security Paid</th>
					<th>Tenant</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
			<% @units.each do |unit| %>
			<% unit.security_paid ? security_deposit="Yes" : security_deposit="No" %>
				<tr>
					<td><%= unit.property.name %></td>
					<td><%= unit.description %></td>
					<td><%= number_to_currency(unit.rent_charge) %></td>
					<td><%= number_to_currency(unit.security_charge) %></td>
					<td><%= security_deposit %></td>
					<td><%= unit.user.name %></td>
					<td><b><%= link_to 'Edit', edit_unit_path(unit) %></b></td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<div class="center">
			<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#addUnit">Add A Unit
			</button>
		</div><br />
		<div class="col-sm-6 col-sm-offset-3">
			<div class="collapse" id="addUnit">
				<%= render "units/form" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Manage Tenants</h2>
		<h3>Current Tenants</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Admin</th>
					<th>Tenant ID</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<% user.admin ? user_role="Yes" : user_role="No" %>
					<tr>
						<td><%= user.name %></td>
						<td><%= user.email %></td>
						<td><%= user_role %></td>
						<td><%= user.id %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<h2>Manage Utility Payments</h2>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3>Utility Charges History</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Utility Charge ID</th>
					<th>Utility Name</th>
					<th>Utility Charge</th>
					<th>Utility Date</th>
					<th>Property</th>
          <th>No. Tenants</th>
          <th></th>
          <th></th>
				</tr>
			</thead>
			<tbody>
				<% @utility_charges.each do |utility| %>
					<tr>
						<td><%= utility.id %></td>
						<td><%= utility.utility_name %></td>
						<td><%= number_to_currency(utility.utility_charge) %></td>
						<td><%= utility.utility_charge_date %></td>
						<td><%= utility.property.name %></td>
            <td><%= utility.tenant_count %></td>
            <td><b><%= link_to 'Edit', edit_utility_charge_path(utility) %></b></td>
            <td><b><%= link_to 'Destroy', utility, method: :delete, data: { confirm: 'Are you sure?' } %></b></td>
					</tr>
				<% end %>
			</tbody>
		</table>
			<div class="center">
				<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#addUtility">Add A Utility Payment
				</button>
		</div><br />
		<div class="col-md-6 col-md-offset-3">
			<div class="collapse" id="addUtility">
				<%= render "utility_charges/form" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Review/Manage Payments</h2>
		<h3>Payments Made</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Tenant</th>
					<th>Unit</th>
					<th>Total Paid</th>
					<th>Pay Type</th>
					<th>Date Paid</th>
				</tr>
			</thead>
			<tbody>
				<% @payments.each do |payment| %>
					<tr>
						<td><%= payment.user.name %></td>
						<td><%= payment.unit.description %></td>
						<td><%= number_to_currency(payment.total_paid) %></td>
						<td><%= payment.pay_type %></td>
						<td><%= payment.created_at.strftime("%B %d, %Y") %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="center">
				<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#addPayment">Add A Tenants non-CC Payment
				</button>
		</div><br />
		<div class="col-md-6 col-md-offset-3">
			<div class="collapse" id="addPayment">
				<%= render "payments/form" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3>Rent Tracking History</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Unit ID</th>
					<th>Due Date</th>
					<th>Paid</th>
				</tr>
			</thead>
			<tbody>
				<% @paid_rents.each do |paid| %>
				<% paid.paid ? rent_paid="Yes" : rent_paid="No" %>
				<% unit = Unit.where(id: paid.unit_id).first %>
					<% if unit %>
						<tr>
							<td><%= unit.description %></td>
							<td><%= paid.date_due.strftime("%B %d, %Y") %></td>
							<td><%= rent_paid %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
    <inline class="left_float"><%= link_to 'Show All', paid_rents_path %></inline><br>
		<div class="col-md-6 col-md-offset-3">
			<h3>Create or fill the Rent Paid table</h3>
				<%= render "paid_rents/form" %>
		</div>
	</div>
</div>
