<%= form_for(@user), url: create_user_path do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :unit_id %><br>
    <%= f.number_field :unit_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :admin %><br>
    <%= f.check_box :admin, class: 'checkbox' %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
