<% content_for(:head) do %>
  <%= javascript_include_tag 'createMaps' %>
<% end %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="center">37 Brookveiw Ave</h1>
    <div class="connected-carousels">
      <div class="stage">
        <div class="carousel carousel-stage">
          <ul>
            <li><%= image_tag("brookcar/37front.jpg", width: "600", height: "400", alt: "") %></li>
            <li><%= image_tag("brookcar/Brook1.jpg", width: "600", height: "400", alt: "") %></li>
            <li><%= image_tag("brookcar/Brook2.jpg", width: "600", height: "400", alt: "") %></li>
            <li><%= image_tag("brookcar/Brook3.jpg", width: "600", height: "400", alt: "") %></li>
            <li><%= image_tag("brookcar/Brook4.jpg", width: "600", height: "400", alt: "") %></li>
            <li><%= image_tag("brookcar/Brook5.jpg", width: "600", height: "400", alt: "") %></li>
          </ul>
        </div>

        <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
        <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
      </div>

      <div class="navigation">
        <a href="#" class="prev prev-navigation">&lsaquo;</a>
        <a href="#" class="next next-navigation">&rsaquo;</a>
        <div class="carousel carousel-navigation">
          <ul>
            <li><%= image_tag("brookcar/37frontthumb.jpg", width: "50", height: "50", alt: "")%></li>
            <li><%= image_tag("brookcar/Brook1_thumb.jpg", width: "50", height: "50", alt: "") %></li>
            <li><%= image_tag("brookcar/Brook2_thumb.jpg", width: "50", height: "50", alt: "") %></li>
            <li><%= image_tag("brookcar/Brook3_thumb.jpg", width: "50", height: "50", alt: "") %></li>
            <li><%= image_tag("brookcar/Brook4_thumb.jpg", width: "50", height: "50", alt: "") %></li>
            <li><%= image_tag("brookcar/Brook5_thumb.jpg", width: "50", height: "50", alt: "") %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class>Property Description</h3>
    <p class>Three Family located on the East Side of Troy near Wynantskill.  Tenants pay gas and electric, and each apartment has one offstreet parking space.
		All apartments include mini-blinds, newer appliances, and high efficiency forced air gas heat.</p>
    <p><u>Apt. 1: 1st floor</u><br />
					1 bed, 1 bath, oven, refrigerator<br><br>
					<u>Apt. 2: 2nd Floor</u><br>
					2 beds, 1 bath, dishwasher, oven, refrigerator, central A/C<br><br>
					<u>Apt. 3: 1st floor</u><br>
					1 bed, 1 bath, W/D, dishwasher, oven, refrigerator, rear porch</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Map</h3>
    <div style='width: 800px;'>
      <div id="brookviewmap" style='width: 800px; height: 400px;'></div>
    </div>
    
    <!--<script type="text/javascript">
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'brookviewmap'}}, function(){
        var markers = handler.addMarkers([
          { lat:42.700844, lng: -73.656826}
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);
      });
    </script>
-->
    <br>
  </div>
</div>
