<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>1305 Hutton St.</h1>
    <div class="connected-carousels">
      <div class="stage">
        <div class="carousel carousel-stage">
          <ul>
            <li><%= image_tag("huttcar/1305 HuttonFrontCrop.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton2.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton3.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton5.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton6.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton7.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton9.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton10.jpg", width:"600", height:"400", alt:"")%></li>
          </ul>
        </div>

        <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
        <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
      </div>

      <div class="navigation">
        <a href="#" class="prev prev-navigation">&lsaquo;</a>
        <a href="#" class="next next-navigation">&rsaquo;</a>
        <div class="carousel carousel-navigation">
          <ul>
            <li><%=image_tag("huttcar/1305 HuttonFrontCrop_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton2_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton3_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton5_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton6_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton7_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton9_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("huttcar/1305Hutton10-thumb.jpg", width:"50", height:"50", alt:"")%></li>
          </ul>
        </div>
      </div>
    </div>
    <h3>Property Description</h3>
    <p>Single family home with 5 bedrooms, 1.5 baths, kitchen, dining and family room. This property has been updated with new carpet, new paint and updated electric.  
		Partially furnished and rent includes basic cable, internet, gas and electric. Located near Notty Pine Pizza.<br>Laundry on first floor.<br>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Map</h3>
  </div>
</div>