<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h1>Highbrook Properties Rent Payment Portal</h1><br />
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <%=image_tag("37front.jpg", alt: "Front view of 37 Brookview Ave")%>
            <div class="caption">
                <h3>37 Brookview Ave</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <%=image_tag("1891front400x300.jpg", alt: "Front view of 1891 Highland Ave")%>
            <div class="caption">
                <h3>1891 Highland Ave</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <%=image_tag("60-13thfront.jpg", alt: "Front view of 60 13th Street")%>
            <div class="caption">
                <h3>60 13th Street</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <%=image_tag("1305front400x300.jpg", alt: "Front view of 1891 Hutton Steet")%>
            <div class="caption">
                <h3>1305 Hutton Street</h3>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->
<div class="row">
	<div class="col-md-12 center">
        <p class="stdfont">We are accepting online payment via credit or debit card!</p>
        <% if current_user && !current_user.admin %>
            <%= link_to "Pay Rent", payments_path, class: 'btn btn-success' %><br /><br />
        <% elsif current_user && current_user.admin %>
            <%= link_to "Admin Page", admin_path, class: 'btn btn-success' %><br /><br />
        <% else %>
		  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %><br />
          <p class="stdfont">To pay your rent!</p><br />
        <% end %>
        
	</div>
</div>