<div class="row text-center">
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <%= link_to welcome_brookview_path do %>
        <%=image_tag("37front2.jpg", alt: "Front view of 37 Brookview Ave")%>
      <% end %>
     <div class="caption">
        <h3><%= link_to "37 Brookview Ave", welcome_brookview_path %></h3>
      </div>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <%= link_to welcome_highland_path do %>
        <%=image_tag("1891front2.jpg", alt: "Front view of 1891 Highland Ave")%>
      <% end %>
      <div class="caption">
        <h3><%= link_to "1891 Highland Ave",  welcome_highland_path %></h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <%= link_to welcome_thirteenth_path do %>
        <%=image_tag("60-13thfront2.jpg", alt: "Front view of 60 13th Street")%>
      <% end %>
      <div class="caption">
        <h3><%= link_to "60 13th Street", welcome_thirteenth_path %></h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <%= link_to welcome_hutton_path do %>
        <%=image_tag("1305front2.jpg", alt: "Front view of 1891 Hutton Steet")%>
      <% end %>
      <div class="caption">
        <h3><%= link_to "1305 Hutton Street", welcome_hutton_path %></h3>
      </div>
    </div>
  </div>

</div>
<!-- /.row -->
<div class="row">
	<div class="col-md-12 center">
        <p class="stdfont">We are accepting online payment via credit or debit card!</p>
        <% if current_user && !current_user.admin %>
            <%= link_to "Pay Rent", payments_path, class: 'btn btn-success' %><br /><br />
        <% elsif current_user && current_user.admin %>
            <%= link_to "Admin Page", admin_path, class: 'btn btn-success' %><br /><br />
        <% else %>
		  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %><br />
          <p class="stdfont">To pay your rent!</p><br />
        <% end %>
        
	</div>
</div>