<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="center">60 Thirteenth St.</h1>
    <div class="connected-carousels">
      <div class="stage">
        <div class="carousel carousel-stage">
          <ul>
            <li><%= image_tag("thirteencar/60-13thKitchen.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th2.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th3.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th4.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th5.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th6.jpg", width:"600", height:"400", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th7.jpg", width:"600", height:"400", alt:"")%></li>
          </ul>
        </div>

        <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
        <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
      </div>

      <div class="navigation">
        <a href="#" class="prev prev-navigation">&lsaquo;</a>
        <a href="#" class="next next-navigation">&rsaquo;</a>
        <div class="carousel carousel-navigation">
          <ul>
            <li><%= image_tag("thirteencar/60-13th1_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th2_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th3_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th4_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th5_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th6_thumb.jpg", width:"50", height:"50", alt:"")%></li>
            <li><%= image_tag("thirteencar/60-13th7_thumb.jpg", width:"50", height:"50", alt:"")%></li>
          </ul>
        </div>
      </div>
    </div>
    <h3>Property Description</h3>
    <p>Single family home with 7 bedrooms, 2 full baths, large eat-in kitchen and large family room.  One block to the RPI campus in the student rental area.  
		This property has been remodeled and now has a new kitchen, refinished hardwood floors, new paint and updated electric.<br>
		Partially furnished and rent includes basic cable, internet, gas and electric.<br>Laundry in building.<br>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Map</h3>
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
    
    <script type="text/javascript">
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        var markers = handler.addMarkers([
          { lat:42.726236, lng: -73.680742}
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);
      });
    </script>
    <br>
  </div>
</div>