<div class="formbox">
<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, @users, :id, :name, {:prompt => "Select a tenant"}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :unit_id %><br>
    <%= f.collection_select :unit_id, @units, :id, :description, {:prompt => "Select a unit"}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :utility_charge_id %><br>
    <%= f.collection_select :utility_charge_id, @utility_charges, :id, :id, {:prompt => "Select utility charge ID"}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :pay_type %><br>
    <%= f.select :pay_type, options_for_select([["Check", "Check"],["Cash","Cash"]]), {:prompt => "Select a Pay Type"}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :total_paid %><br>
    <%= f.text_field :total_paid, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit Payment" %>
  </div>
<% end %>
</div>
