<% if current_user.unit %>
  <h1 class="center">Welcome <%= current_user.name %></h1>
  <h2 class="center">Your next month's charges</h2>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="tenant-format">
        <table width=100%>
          <tr>
            <td class="invoice-top">Property: <%= @unit.property.address %></td>
            <td class="invoice-top-right">Unit: <%= @unit.description %></td> 
          </tr>
            <% if  @current_due_date.present? %>
          <tr>
            <td class="invoice-top">Invoice</td>
            <td class="invoice-top-right">Date Due: <%= @current_due_date.strftime("%B %d, %Y") %></td>
          </tr>
          <% end %>
          <tr>
            <td class="invoice-body"><b>Item</b></td>
            <td class="invoice-body-right"><b>Amount</b></td>
          </tr>
          <tr>
            <td class="invoice-body">Rent</td>
            <td class="invoice-body-right"><%= number_to_currency(@unit.rent_charge) %></td>
          </tr>
          <tr>
            <td class="invoice-body">Utilities</td>
            <td class="invoice-body-right"><%= number_to_currency(@utility_charge) %></td>
          </tr>
          <tr>
            <td class="invoice-body">Security Deposit</td>
            <td class="invoice-body-right"><%= number_to_currency(@security_amount) %></td>
          </tr>
          <tr>
            <td class="invoice-top">Total</td>
            <td class="invoice-top-right"><%= number_to_currency(@security_amount+@utility_charge+@unit.rent_charge) %></td>
          </tr>
            <% if  @current_due_date.present? %>
             <tr>
              <td class="left-spot"></td>  
              <td class="right-spot"><%= link_to 'Pay Rent', new_stripe_charge_path, class: 'btn btn-success btn-sm' %></td>
            </tr>
            <% end %>

        </table>
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <h3 class="left_float">Payment History</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Date Paid</th>
            <th>Rent Paid</th>
            <th>Utilities Paid</th>
            <th>Security Paid</th>
            <th>Pay Type</th>
            <th>Total Paid</th>
          </tr>
        </thead>

        <tbody>
          <% @payments.each do |payment| %>
            <% if payment.user_id == current_user.id %>
                <% if payment.utility_charge_id %>
                  <% @has_charge = @utility.where(id: payment.utility_charge_id).first  %>
                  <% @utility_charge_amount = @has_charge.utility_charge %>
                <% end %>
            <tr>
              <td><%= payment.created_at.strftime("%B %d, %Y") %></td>
              <td><%= number_to_currency(payment.rent_paid) %></td>
              <td><%= payment.utility_charge_id? ? number_to_currency(@utility_charge_amount) : number_to_currency(0.00) %></td>
              <td><%= number_to_currency(payment.security_paid) %></td>
              <td><%= payment.pay_type %></td>
              <td><%= number_to_currency(payment.total_paid) %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
<% else %>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>Thank you for registering with Highbrook Properties!</h3>
      <p class='stdfont'>We have received your information and your account will be available online soon.</p>
    </div>
  </div>
<% end %>
