<h1><%= current_user.name %>'s Payment History</h1>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h3 class="left">Property: <%= @unit.property.name %>&nbsp;|&nbsp;Unit: <%= @unit.description %></h3> 
    <h3 class="left">Amount Due: <%= number_to_currency(@unit.rent_charge) %></h3>
    <h3 class="left">Utilities Due: <%= number_to_currency(@utility_charge) %></h3>
    <h3 class="left">Date Due: <%=Date.today.at_beginning_of_month.next_month.strftime("%B %d, %Y") %></h3>
    <table class="table">
      <thead>
        <tr>
          <th>Date Paid</th>
          <th>Rent Paid</th>
          <th>Utilities Paid</th>
          <th>Total Paid</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.created_at.strftime("%B %d, %Y") %></td>
            <td><%= @unit.rent_charge %></td>
            <td></td>
            <td><%= payment.total_paid %></td>
            <td><%= link_to 'Show', payment %></td>
            <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Payment', new_payment_path %>
