<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :rent_charge %><br>
    <%= f.text_field :rent_charge, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :security_charge %><br>
    <%= f.text_field :security_charge, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :security_paid %>
    <%= f.check_box :security_paid, class: 'checkbox' %>
  </div>
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :property_id %><br>
    <%= f.text_field :property_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
