<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :rent_charge %><br>
    <%= f.text_field :rent_charge %>
  </div>
  <div class="field">
    <%= f.label :security_charge %><br>
    <%= f.text_field :security_charge %>
  </div>
  <div class="field">
    <%= f.label :security_paid %><br>
    <%= f.check_box :security_paid %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :property_id %><br>
    <%= f.text_field :property_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
