<h1>Listing units</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Rent charge</th>
      <th>Security charge</th>
      <th>Security paid</th>
      <th>User</th>
      <th>Property</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.description %></td>
        <td><%= unit.rent_charge %></td>
        <td><%= unit.security_charge %></td>
        <td><%= unit.security_paid %></td>
        <td><%= unit.user_id %></td>
        <td><%= unit.property %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
