<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>Rent charge:</strong>
  <%= @unit.rent_charge %>
</p>

<p>
  <strong>Security charge:</strong>
  <%= @unit.security_charge %>
</p>

<p>
  <strong>Security paid:</strong>
  <%= @unit.security_paid %>
</p>

<p>
  <strong>User:</strong>
  <%= @unit.user_id %>
</p>

<p>
  <strong>Property:</strong>
  <%= @unit.property %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
