<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <title>Payrent</title>
</head>
<body>
	<div id="header" class="container">

		<ul class="marginnav" id="nav">
        <li><%= link_to "Home", root_path %></li>

         <div class="pull-right user-info">
           <% if current_user %>
             Hello <%= current_user.name || current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
           <% else %>
             <%= link_to "Sign In", new_user_session_path %>
           <% end %>
         </div>

      </ul>
    <div class="row">
    	<div class="col-lg-12">
				<h1 id="name">Welcome to Highbrook Properties</h1>
			</div>
		</div>
	</div>
	<div class="container">

				<% if flash[:notice] %>
		         <div class="alert alert-success">
		           <button type="button" class="close" data-dismiss="alert">&times;</button>
		           <%= flash[:notice] %>
		         </div>
		       <% elsif flash[:error] %>
		         <div class="alert alert-danger">
		           <button type="button" class="close" data-dismiss="alert">&times;</button>
		           <%= flash[:error] %>
		         </div>
		       <% elsif flash[:alert] %>
		         <div class="alert alert-warning">
		           <button type="button" class="close" data-dismiss="alert">&times;</button>
		           <%= flash[:alert] %>
		         </div>
		       <% end %>
       
		<%= yield %>
	</div>
</body>
</html>
