<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
		var currentYear = new Date();
		function showYear(dateObj) {
		y1 = dateObj.getFullYear();
		return y1;}
	</script>
  <title>Payrent</title>
</head>
<body>
  <!--Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Highbrook</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
	        <li><%= link_to "Home", root_path %></li>
	        <% if current_user && current_user.admin %>
	        	<li><%= link_to "Admin Page", admin_path %></li>
	        <% elsif current_user && !current_user.admin %>
	        	<li><%= link_to "Pay Rent", payments_path %></li>
	        <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li> <%= link_to (current_user.name || current_user.email), edit_user_registration_path %></li> 
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <% end %>
	      </ul>
      </div>
    </div>
  </nav>
  <div class="container">

      <div class="jumbotron">
          <h1>Welcome to Highbrook Properties</h1>
      </div>

		<!--<div class="content">-->

					<% if flash[:notice] %>
			         <div class="alert alert-success">
			           <button type="button" class="close" data-dismiss="alert">&times;</button>
			           <%= flash[:notice] %>
			         </div>
			       <% elsif flash[:error] %>
			         <div class="alert alert-danger">
			           <button type="button" class="close" data-dismiss="alert">&times;</button>
			           <%= flash[:error] %>
			         </div>
			       <% elsif flash[:alert] %>
			         <div class="alert alert-warning">
			           <button type="button" class="close" data-dismiss="alert">&times;</button>
			           <%= flash[:alert] %>
			         </div>
			       <% end %>
	       
			<%= yield %>
	</div>
   <footer class="footer">
      <div class="container">
        <p class="footer-text center">Copyright &copy; 2013 - <script>document.write(showYear(currentYear));</script><br />
          <a href="mailto:brookviewonellc@gmail.com">Email Highbrook</a></p>
      </div>
   </footer>
</body>
</html>
